/* add css for index.html */

#game-options {
    display: flex;
    gap: 20px;
}

#rock-button {
    background-color: rgb(168, 46, 152);
}

#scissors-button {
    background-color: rgb(196, 173, 44);
}

#paper-button {
    background-color: rgb(58, 134, 179);
}

#rock-button:hover {
    background-color: black;
}

#scissors-button:hover {
    background-color: black;
}

#paper-button:hover {
    background-color: black;
}

#scoreboard {
    padding-left: 400px;
    font-weight: 700;
}


